build
share
driver/proxy
.gdb_history
.cache
*.log
*.dSYM
*.so
*.o
texpresso-dev
texpresso
compile_commands.json
Makefile.config
.DS_Store
test/test_utf_mapping
/mupdf-master-copy
/.claude
/mupdf.js-master-copy
/client-mupdf-poc/node_modules
/client-mupdf-poc
